@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: green;
  background: burlywood;
}

.title {
  font-size: 48px;
  text-align: center;
  box-shadow: 0 0 3px 4px black;
  width: 80vw;
  margin: 20px auto;
}