@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: green;
  background: burlywood;
}

.title {
  font-size: 48px;
  text-align: center;
  box-shadow: 0 0 3px 4px black;
  width: 80vw;
  margin: 20px auto;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.txtarea {
  display: block;
  padding: 12px;
  width: 100%;
}

.load,
.save {
  width: 80px;
  height: 30px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(58, 61, 49);
  color: rgb(224, 220, 220);
}

.load {
  margin-right: 15px;
}